<div ng-controller='galleryCtrl as gall' id="mainDivGall" class="text-justify">
    <div class="mainImg">
        <div class="col-md-7 col-md-offset-4 col-lg-7 col-lg-offset-4 col-sm-7 col-sm-offset-4 col-xs-7 col-xs-offset-4">
        <strong><p class='mainTextGal'>{{gall.mainText}}</p>
       </strong>
        </div>
    </div>
    <div id='containerGallery'>
    <div class="row" >
        <p class='text-center textCenter'>{{gall.textCenter}}</p>
    </div>
    
    <div class="row divRow" >
        <div class='col-md-1 col-lg-1 col-sm-1 col-xs-1'>
            <img class='textImg' src='src/img/diplomasText.png'></div>
        <div class='col-md-6 col-lg-6 col-sm-6 col-xs-6'>
            <img class='imgsGallery' src='src/img/galleryPhoto1.png'>
        </div>
        <div class='col-md-5 col-lg-5 col-sm-5 col-xs-5'><p class='textsGal'>{{gall.text1}}</p></div>
    </div>
    
    <div class="row divRow" >
        <div class='col-md-1 col-lg-1 col-sm-1 col-xs-1'></div>
        <div class='col-md-5 col-lg-5 col-sm-5 col-xs-5'><p class='textsGal'>{{gall.text1}}</p></div>
        <div class='col-md-6 col-lg-6 col-sm-6 col-xs-6'> 
            <img class='imgsGallery' src='src/img/galleryPhoto2.png'>
            <img class='textImg2' src='src/img/brainText.png'>
        </div>
    </div>
    
    <div class="row divRow" >
        <div class='col-md-1 col-lg-1 col-sm-1 col-xs-1'>
        <img class='textImg' src='src/img/betzText.png'></div>
        <div class='col-md-4 col-lg-4 col-sm-4 col-xs-4'> 
            <img class='imgsGallery' src='src/img/galleryPhoto3.png'></div>
        <div class='col-md-7 col-lg-7 col-sm-7 col-xs-7'><p class='textsGal'>{{gall.text2}}</p></div>
    </div>
    
    <div class="row divRow" id='RowGal4'>
        <div class='col-md-8 col-lg-8 col-sm-8 col-xs-8'><p class='textsGal' >{{gall.text3}}</p></div>
        <div class='col-md-4 col-lg-4 col-sm-4 col-xs-4'> 
            <img class='imgsGallery' src='src/img/galleryPhoto4.png'>
            <img class='textImg2' src='src/img/somePcText.png'>
        </div>
    </div>
        
    </div>
</div>